<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 4:  Using Yelp cost estimates for estimating neighborhood affluency

<i>
                
                Submitted by Shannon Bingham and Roy Kim
</i>

 
## Problem Statement
This tool will estimate the affluence of a neighborhood based on the number of `$` of businesses and services (according to Yelp) in a given neighborhood. (`$`, `$$`, `$$$`, `$$$$`) This tool will expect to get, as an input, a list of zip codes or names of neighborhoods and will estimate the wealth of the locality. While traditional methods typically estimate wealth of a locality based on demographic characteristics (e.g. income or unemployment rate), the novelty of this approach is in its use of big data related to commercial activity and cost of product and services as an indicator for affluency.

## Notebook Description
_This notebook will combine the summarized Yelp data and the data from City-Data.com into one .csv file._

# Combine data from Yelp API and city-data.com

In [2]:
# Importing Pandas
import pandas as pd

In [3]:
# Reading in the city-data.com data
city = pd.read_csv('../data/zip_city.csv')
city = city.sort_values('zipcode')
city.head()

    zipcode  population  cost_of_living  area  median_income
31    53018      8065.0           101.2  11.5        96683.0
21    53022     19509.0           100.0  27.9        81688.0
46    53034      1769.0            88.9   8.3        59674.0
39    53038      4299.0            82.8  30.2        74924.0
2     53045     21522.0           102.0  14.4       100149.0

In [4]:
# Reading in the summarized Yelp API data
yelp = pd.read_csv('../data/all_wi_yelp.csv')
yelp = yelp.sort_values('zipcode')
yelp.head()

,n_business,n_coffee,n_costco,n_d1,n_d2,n_d3,n_d4,n_review,n_s1,n_s1plus,n_s2,n_s2plus,n_s3,n_s3plus,n_s4,n_s4plus,n_s5,n_starbucks,n_wholefoods,zipcode
24,506.0,51.0,0.0,179.0,173.0,13.0,141.0,11125.0,16.0,13.0,22.0,40.0,83.0,83.0,121.0,73.0,312.0,6.0,0.0,53018
34,159.0,12.0,0.0,46.0,63.0,3.0,47.0,3658.0,0.0,3.0,18.0,17.0,35.0,35.0,40.0,12.0,107.0,4.0,0.0,53022
30,94.0,7.0,0.0,26.0,24.0,1.0,43.0,654.0,6.0,0.0,2.0,5.0,12.0,12.0,23.0,17.0,54.0,0.0,0.0,53034
16,161.0,13.0,0.0,55.0,50.0,0.0,56.0,2033.0,14.0,5.0,12.0,14.0,22.0,22.0,34.0,28.0,99.0,1.0,0.0,53038
36,575.0,50.0,0.0,211.0,222.0,12.0,130.0,19256.0,15.0,19.0,31.0,70.0,134.0,134.0,121.0,51.0,403.0,14.0,0.0,53045

In [5]:
# Merging and saving the data
final_df = city.merge(yelp)
final_df.to_csv('../data/yelp_and_city_data.csv', index=False)

This dataset will be moved further along to the feature engineering stage, where we will derive relevant features from the existing ones.